{% extends "base.html" %}
{% block title %} Login{% endblock %}
{% block body %}

<h1>Questions and Answers</h1>

<form id = "app_form_status" action='/app-status/{{filled_form.filled_form_id}}'method="POST">
    <input type="hidden" id="filled_form_id" value={{filled_form.filled_form_id}}>


    <b> Application Received:</b><div>{{time_status.app_received}}</div><br>


    
    <b> Application Pending:</b><div id="application_pending"></div><br>
   

      
    <b> Application Review:</b><div id="application_review"></div><br>
  
    

    <b> Application Results:</b><div id="application_results"></div><br>



<div id="textarea"><br>Edit Application Results:<br>

<textarea name="textbox" id = "textbox" rows="7" cols="100"></textarea><br>


<br><br><input class="btn btn-primary" id="submit" name="submit" type="submit" value='Application Pending'>
</div>
</form>



<hr>


<h3>{{filled_form.form.form_name}}</h3>
    {% for answer in filled_form.answers %}
        <li>{{answer.question.question_text}}</li>
        <b>Answer: </b>{{answer.answer_text}}
        <hr/>
    {% endfor %}

<script src="/static/js/client_forms_qa.js"></script>
{% endblock %}