{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block body %}

<h1> Welcome </h1>


<h2>Safety Plan</h2>
<a href="/safety-plan">View Safety Plan Form</a>
<h2>Financial Options</h2>
<a href="/financial">View Victim Compensation Form</a><br><br>
<h2>Shelter</h2>
<a href="/shelter">Shelter Availability</a><br><br>
<h2>Legal Advocacy</h2>
<a href="/legal">Criminal Record Search</a><br><br>

<!-- TODO: post route for act of logging in 
one time if statement session.get() -->
{% for advocate in advocates %}
    {% if login_id == advocate.advocate_login_id%}
        <h2>Clients</h2>
        <a href="/advocate">View Clients</a>
    {% endif %}
{% endfor %}







{% endblock %}
