{% extends "base.html" %}
{% block title %} Login{% endblock %}

{% block style %}

{% endblock %}


{% block body %}

<!-- <input type='text' size='50' onkeydown="keyCode(event)"> -->

<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label>Username: <br>
            <input required type="text" name="username">
        </label>
    </div>
    <div>
        <label>Password:<br>
            <input required type="password" name="password">
        </label>
    </div>

   <input type='submit' name='submit'><br><br>

</form>


If you are a new user. Create your profile by clicking below: <br>
<a href='/register'>Create Profile</a>

<script src="static/js/login.js"></script>

{% endblock %}
