{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block body %}

<h1>Login</h1>
<form action="/register" method="POST">
    <div>
        <label>Name (Please type First and Last name)<br>
            <input required type="text" name="name">
        </label>
    </div>
    <div>
        <br><label>Email<br>
            <input required type="text" name="email">
        </label>
    </div>
    <div>
        <br><label>Username<br>
            <input required type="text" name="username">
        </label>
    </div>
    <div>
        <br><label>Password<br>
            <input required type="password" name="password">
        </label>
    </div>

    




    <br><input type='submit' id='submit'>

</form>


{% endblock %}
