{% extends "base.html"%}
{% block title%} Safety Planning {% endblock %}
{% block body %}

<h1> Safety Plan</h1>

<!-- A "Yes" response to any of Questions #1-3 automatically triggers the protocol referral. -->

{{question}}



<!-- 
Negative responses to Questions #1-3, but positive responses to at least four of Questions #4-11, trigger the protocol referral.




An officer may trigger the protocol referral, if not already triggered above, as a result of the victim's response to the below question, or whenever the officer believes the victim is in a potentially lethal situation
 -->
{% endblock %}