{% extends "base.html" %}
{% block title %} Alert {% endblock %}
{% block body %}

<h1> Alert </h1>

You have scored high on the lethality assessment form.

If you feel you are in imminent danger please call 911 or our 24/hour hotline 
number: <b>1-800-799-7233</b><br><br><br>

We will also give you the choice of sending your lethality assessment to 
Clearwater Police Department which will be immediately reviewed and you will be
contacted by the Clearwater Police Department's victim advocate within 24 hours of 
you clicking the "YES" button below.<br><br><br>

<b>Would you like for your lethality assessment to be sent to the Clearwater Police
Department?</b><br><br><br><br><br>


<form action="/safety-plan-alert" method="POST">

<input type='radio' name="cpd" value='yes'>Yes
<input type='radio' name="cpd" value='no'>No<br><br><br>



<input id='submit' type='submit'>
</form>


{% endblock %}
